<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://images.pexels.com/photos/2897531/pexels-photo-2897531.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
        class="card-img-top" alt="Men's Fashion">
        <div class="card-body">
            <a href="#" class="btn" id="button">Shop Men</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.pexels.com/photos/1055691/pexels-photo-1055691.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
        class="card-img-top" alt="Women's Fashion">
        <div class="card-body">
            <a href="1" class="btn" id="button">Shop Women</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://images.pexels.com/photos/7104395/pexels-photo-7104395.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
        class="card-img-top" alt="Kid's Fashion">
        <div class="card-body">
            <a href="2" class="btn" id="button">Shop Kids</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div> -->