 <!-- top navigation         -->
<nav class="navbar navbar-dark bg-dark  navbar-expand-lg ">
  <div class="container-fluid">
    <i class="bi bi-shop-window me-2">  </i>
      <a class="navbar-brand" href="#">ShopOnline</a>
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Hello {{user.name}}👋
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-toggle="dropdown"  >
            <li><a class="dropdown-item" href="">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
     
     <div class="d-flex">
      <button class="btn" (click)="signInWithGoogle()">
        <i class="bi bi-person"></i>
       </button>
      </div>
    <div class="d-flex">
     <button class="btn position-relative" [routerLink] ="['check-out']" >
      <i  class="bi bi-cart">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{totalItem}}
        </span>
      </i>
      </button>
    </div>

    </div>
  </div>
</nav>